In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')

In [2]:
metadata = pd.read_csv('./movies_metadata.csv', low_memory=False)
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [3]:
metadata.shape

(45466, 24)

In [4]:
df_unique = metadata.drop_duplicates()
df_sample = metadata.sample(10000)

df = df_sample

In [5]:
df.shape

(10000, 24)

In [6]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
39606,False,NaN,10,"[{'id': 80, 'name': 'Crime'}, {'id': 27, 'name...",NaN,407036,tt3699572,en,On the Brain,A small-town Sheriff discovers there is someth...,...,2016-07-12,0.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,NaN,On the Brain,False,4.0,4.0
4355,False,"{'id': 104847, 'name': 'Caddyshack Collection'...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,18509,tt0094824,en,Caddyshack II,When a crass new-money tycoon's membership app...,...,1988-07-22,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The shack is back!,Caddyshack II,False,3.9,59.0
21861,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.unbelieversmovie.com/,191502,tt2636522,en,The Unbelievers,Scientists Richard Dawkins and Lawrence Krauss...,...,2013-12-13,0.0,77.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What are you willing to believe?,The Unbelievers,False,6.7,55.0
32713,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",http://www.spandauballetthemovie.com/,253333,tt3636326,en,Soul Boys of the Western World,A journey through the 1980s and beyond; the st...,...,2014-09-30,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Soul Boys of the Western World,False,5.4,5.0
29988,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",NaN,43351,tt0046198,en,Pony Express,Buffalo Bill and Wild Bill Hickok join forces ...,...,1953-01-01,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,GALLOPING THRILLS! A mighty adventure when Ame...,Pony Express,False,4.1,10.0

In [7]:
C = df['vote_average'].mean()
print(C)

5.603501050315095

In [8]:
m = df['vote_count'].quantile(0.90)
print(m)

154.39999999999964

In [9]:
q_movies = df.copy().loc[df['vote_count'] >= m]
q_movies.shape

(1000, 24)

In [10]:
df.shape

(10000, 24)

In [11]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    
    return (v/(v+m) * R) + (m/(m+v) * C)

In [12]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [13]:
q_movies = q_movies.sort_values('score', ascending=False)

q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

,title,vote_count,vote_average,score
292,Pulp Fiction,8670.0,8.3,8.252820
5481,Spirited Away,3968.0,8.3,8.199006
351,Forrest Gump,8147.0,8.2,8.151707
1170,GoodFellas,3211.0,8.2,8.080876
2216,American History X,3120.0,8.2,8.077566
15480,Inception,14075.0,8.1,8.072911
1161,12 Angry Men,2130.0,8.2,8.024506
586,The Silence of the Lambs,4549.0,8.1,8.018047
4099,Memento,4168.0,8.1,8.010823
1213,The Shining,3890.0,8.1,8.004693
49,The Usual Suspects,3334.0,8.1,7.989503
5814,The Lord of the Rings: The Two Towers,7641.0,8.0,7.952534
22841,The Grand Budapest Hotel,4644.0,8.0,7.922887
5857,The Pianist,1927.0,8.1,7.914808
1163,A Clockwork Orange,3432.0,8.0,7.896827
4135,Scarface,3017.0,8.0,7.883326
2458,The Matrix,9079.0,7.9,7.861598
22131,The Wolf of Wall Street,6768.0,7.9,7.848778
30315,Inside Out,6737.0,7.9,7.848548
5553,Grave of the Fireflies,974.0,8.2,7.844719

In [14]:
df['overview'].head()

39606    A small-town Sheriff discovers there is someth...
4355     When a crass new-money tycoon's membership app...
21861    Scientists Richard Dawkins and Lawrence Krauss...
32713    A journey through the 1980s and beyond; the st...
29988    Buffalo Bill and Wild Bill Hickok join forces ...
Name: overview, dtype: object

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')

df['overview'] = df['overview'].fillna('')

tfidf_matrix = tfidf.fit_transform(df['overview'])

tfidf_matrix.shape

(10000, 35449)

In [16]:
tfidf.get_feature_names()[5000:5010]

['captured',
 'captures',
 'capturing',
 'capuchin',
 'capucine',
 'capulets',
 'car',
 'cara',
 'carabanchel',
 'caracas']

In [17]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [18]:
cosine_sim.shape

(10000, 10000)

In [19]:
cosine_sim[1]

array([0., 1., 0., ..., 0., 0., 0.])

In [20]:
indices = pd.Series(df.index, index=df['title']).drop_duplicates()

In [21]:
indices[:1000]

title
On the Brain                      39606
Caddyshack II                      4355
The Unbelievers                   21861
Soul Boys of the Western World    32713
Pony Express                      29988
                                  ...
Men without Wings                 17814
Pyaar Ke Side Effects             36875
Caribe                            16255
Tom, Dick And Harry               36879
Bottle Rocket                        99
Length: 1000, dtype: int64

In [22]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx=indices[title]
    
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    sim_scores = sorted(sim_scores, key=lambda x: x[1],reverse=False)
    
    sim_scores = sim_scores[1:11]
    
    movie_indices = [i[0] for i in sim_scores]
    
    return df['title'].iloc[movie_indices]

In [23]:
indices.max()

45460

In [24]:
indices

title
On the Brain                         39606
Caddyshack II                         4355
The Unbelievers                      21861
Soul Boys of the Western World       32713
Pony Express                         29988
                                     ...
The Good Earth                        3327
Heart Like a Hand Grenade            39401
Panama Hattie                        15252
Charlie and the Chocolate Factory     9536
Critical Care                         1599
Length: 10000, dtype: int64

In [26]:
get_recommendations('Charlie and the Chocolate Factory')

4355                                     Caddyshack II
21861                                  The Unbelievers
32713                   Soul Boys of the Western World
18678                                   This Means War
39353                                       The Throne
25195                                    Enlighten Up!
25715                                   Girl, Positive
26114                         Lizzie Borden Took An Ax
36313                Agnivarsha: The Fire and the Rain
18316    Brutal Beauty: Tales of the Rose City Rollers
Name: title, dtype: object

In [27]:
credits = pd.read_csv('./credits.csv')
keywords = pd.read_csv('./keywords.csv')

In [28]:
metadata = metadata.drop([19730, 29503,35587])

keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [29]:
subdata = metadata.sample(frac=0.05, random_state=99)

In [30]:
from ast import literal_eval

In [31]:
features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    subdata[feature] = subdata[feature].apply(literal_eval)

In [32]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [33]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
    if len(names)>3:
        names=names[:3]
    return names

    return []

In [34]:
subdata['director'] = subdata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    subdata[feature] = subdata[feature].apply(get_list)

In [35]:
subdata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
43858,Oklahoma City,[],Barak Goodman,"[terrorism, bombing]",[Documentary]
14009,Love Streams,"[Gena Rowlands, John Cassavetes, Diahnne Abbott]",John Cassavetes,[],"[Comedy, Drama]"
37085,Trevor Noah: You Laugh But It's True,[Trevor Noah],David Paul Meyer,[stand-up comedy],"[Documentary, Comedy]"

In [36]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", " ")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", " "))
        else:
            return ''

In [37]:
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    subdata[feature] = subdata[feature].apply(clean_data)

In [38]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [39]:
subdata['soup'] = subdata.apply(create_soup, axis=1)

In [40]:
subdata[['soup']].head(2)

                                                    soup
43858       terrorism bombing  barak goodman documentary
14009   gena rowlands john cassavetes diahnne abbott ...

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(subdata['soup'])

In [42]:
count_matrix.shape

(2331, 9945)

In [43]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [44]:
subdata = subdata.reset_index()
indices = pd.Series(subdata.index, index=subdata['title'])

In [45]:
subdata.title

0                              Oklahoma City
1                               Love Streams
2       Trevor Noah: You Laugh But It's True
3                       They Call Me Trinity
4                                 Gunslinger
                        ...
2326                        An Act of Murder
2327                        Two Family House
2328                        Mi mejor enemigo
2329              Stray Cat Rock: Sex Hunter
2330                  The Sensation Of Sight
Name: title, Length: 2331, dtype: object

In [46]:
get_recommendations('Gunslinger', cosine_sim2)

21861                                  The Unbelievers
6234                                        Wrong Turn
25195                                    Enlighten Up!
25715                                   Girl, Positive
26114                         Lizzie Borden Took An Ax
40662                                  The Green Glove
18316    Brutal Beauty: Tales of the Rose City Rollers
36823                 Risto Räppääjä ja liukas Lennart
27906         Suppose They Gave a War and Nobody Came?
30759                                The Good Dinosaur
Name: title, dtype: object

In [47]:
import json 
from functools import reduce

In [48]:
credits = pd.read_csv('./tmdb500/tmdb_5000_credits.csv')
movies  = pd.read_csv('./tmdb500/tmdb_5000_movies.csv')

In [49]:
print("Credits shape is: {}".format(credits.shape))
print("Movies shape is: {}".format(movies.shape))

Credits shape is: (4803, 4)
Movies shape is: (4803, 20)

In [50]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [51]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [53]:
final = pd.merge(movies,credits,left_on='id',right_on='movie_id',how='left')

In [54]:
final.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_x                    0
vote_average               0
vote_count                 0
movie_id                   0
title_y                    0
cast                       0
crew                       0
dtype: int64

In [58]:
final.drop(['homepage','release_date','runtime'],axis=1,inplace=True)

In [59]:
final['overview'].fillna('',inplace=True)
final['tagline'].fillna('',inplace=True)

In [60]:
final.isnull().sum()

budget                  0
genres                  0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
revenue                 0
spoken_languages        0
status                  0
tagline                 0
title_x                 0
vote_average            0
vote_count              0
movie_id                0
title_y                 0
cast                    0
crew                    0
dtype: int64

In [62]:
def convertJson(y):
    y = json.loads(y)
    return " ".join([val['name'] for val in y])
final['genres'] = final['genres'].apply(convertJson)
final['keywords'] = final['keywords'].apply(convertJson)
final['production_companies'] = final['production_companies'].apply(convertJson)
final['production_countries'] = final['production_countries'].apply(convertJson)

In [63]:
final.drop(['id','spoken_languages','status','budget','popularity','revenue','vote_average','vote_count','crew'], inplace=True,axis=1)

In [64]:
final['genres']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres, Length: 4803, dtype: object

In [65]:
def get_cast(y):
    y = json.loads(y)
    return " ".join([val['character']+' '+val['name'] for val in y[:5]])
final['cast'] = final['cast'].apply(get_cast)

In [67]:
columns = ['original_language','original_title','overview',\
              'production_countries','tagline','title_x','title_y','cast']
final['title'] = final['title_x']
final['keywords'] = final[['keywords','genres','production_companies'] + columns].apply(" ".join,axis=1)
final.drop(columns,inplace=True,axis=1)

In [68]:
final.head()

,genres,keywords,production_companies,movie_id,title
0,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,Ingenious Film Partners Twentieth Century Fox ...,19995,Avatar
1,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,Walt Disney Pictures Jerry Bruckheimer Films S...,285,Pirates of the Caribbean: At World's End
2,Action Adventure Crime,spy based on novel secret agent sequel mi6 bri...,Columbia Pictures Danjaq B24,206647,Spectre
3,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,Legendary Pictures Warner Bros. DC Entertainme...,49026,The Dark Knight Rises
4,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,Walt Disney Pictures,49529,John Carter

In [69]:
c_vect = TfidfVectorizer()
X = c_vect.fit_transform(final['keywords'])

In [70]:
cosine_sim =cosine_similarity(X)

In [71]:
def get_recommendations(movie_name):
    idx = final[final['title'].str.contains(movie_name)].index
    if len(idx):
        sorted_list_indices = sorted(list(enumerate(cosine_sim[idx[0]])), key=lambda x: x[1], reverse=True)[1:11]
        sorted_list_indices = list(map(lambda x:x[0], sorted_list_indices))
        return sorted_list_indices
    else:
        return []

In [74]:
title = 'The Avengers'
recommended_movie_list = get_recommendations(title)
final.loc[recommended_movie_list,['title', 'genres']]

                                   title                            genres
7                Avengers: Age of Ultron  Action Adventure Science Fiction
85   Captain America: The Winter Soldier  Action Adventure Science Fiction
26            Captain America: Civil War  Adventure Action Science Fiction
79                            Iron Man 2  Adventure Action Science Fiction
174                  The Incredible Hulk  Science Fiction Action Adventure
31                            Iron Man 3  Action Adventure Science Fiction
68                              Iron Man  Action Science Fiction Adventure
169   Captain America: The First Avenger  Action Adventure Science Fiction
129                                 Thor          Adventure Fantasy Action
126                 Thor: The Dark World          Action Adventure Fantasy

In [75]:
title = 'The Dark Knight Rises'
recommended_movie_list = get_recommendations(title)
final.loc[recommended_movie_list,['title', 'genres']]

,title,genres
65,The Dark Knight,Drama Action Crime Thriller
119,Batman Begins,Action Crime Drama
428,Batman Returns,Action Fantasy
1359,Batman,Fantasy Action
3854,"Batman: The Dark Knight Returns, Part 2",Action Animation
299,Batman Forever,Action Crime Fantasy
210,Batman & Robin,Action Crime Fantasy
4267,Batman,Family Adventure Comedy Science Fiction Crime
9,Batman v Superman: Dawn of Justice,Action Adventure Fantasy
303,Catwoman,Action Crime